# Lottery winning chances

This project works on the chances of winning a lottery based on a dataset of Lotto 6/49 a lottery game in Canada. We will consider data on drawings from 1982 to 2018.

In [39]:
def factorial(n):
    factl = 1
    for i in range(n, 0, -1):
        factl *= i
    return factl

In [40]:
def combinations(n, k):
    return factorial(n)/(factorial(k)*factorial(n-k))

Our helper functions to calculate the combinations and factorials.

The rules of the lottery is as follows:
six numbers are drawn from 49 numbers ranging from 1 to 49 without replacement. The big prize is won only when six numbers exactly match the ticket. e.g. if a player bids on {14,26,11,46,32,28}, then he wins the big prize when the lottery game draws {14,26,11,46,32,28}.

In [48]:
def one_ticket_probability(draw):
    tot_comb = combinations(49, 6)
    print('Your chance of winning is {:.7f} % or 1 in {:,.0f}'.format((1/tot_comb)*100, tot_comb))

In [49]:
one_ticket_probability(1)

Your chance of winning is 0.0000072 % or 1 in 13,983,816

For any set of 6 numbers the chances of winning is nearly 1 in 14 million.

In [51]:
import pandas as pd 
import numpy as np

lotto = pd.read_csv('649.csv')

In [52]:
print(lotto.shape)

(3665, 11)

In [53]:
lotto.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [54]:
lotto.tail()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [65]:
def extract_numbers(row):
    return set(row[4:10].values)

In [68]:
winning = lotto.apply(extract_numbers, axis=1)

In [70]:
winning.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [77]:
def check_historical_occurence(user, win_draw):
    user = set(user)
    checking = (user == win_draw)
    n_occ = sum(checking)
    print('Your numbers have occured {} times in the past. Probability of winning with the same combination next time is 1 in 14 million'.format(n_occ))

In [78]:
check_historical_occurence([34, 5, 14, 47, 21, 31], winning)

Your numbers have occured 1 times in the past. Probability of winning with the same combination next time is 1 in 14 million

In [82]:
def multi_ticket_probability(n):
    tot_comb = combinations(49, 6)
    prob = n/tot_comb
    print('your probability of winning is {:.7f}%'.format(prob*100))

In [90]:
multi_ticket_probability(1000000)

your probability of winning is 7.1511238%

The above function calculates the probability of winning the lottery for players with multiple tickets.

There are also prizes for 2,3,4,5 matching numbers. The probability of winning them are shown below.

In [122]:
def probability_less_6(num):
    tot_comb = combinations(49, 6)
    n_comb = combinations(6, num)*combinations(49-num, 6-num)
    prob = n_comb/tot_comb
    print('probability of winning {} number(s) is {:.7f} or 1 in {:.0f}'.format(num, prob, tot_comb/n_comb))
    #return prob

In [123]:
probability_less_6(5)
probability_less_6(4)
probability_less_6(3)
probability_less_6(2)

probability of winning 5 number(s) is 0.0000189 or 1 in 52969
probability of winning 4 number(s) is 0.0010619 or 1 in 942
probability of winning 3 number(s) is 0.0217108 or 1 in 46
probability of winning 2 number(s) is 0.1913265 or 1 in 5