## Connecting to database with Python

In [0]:
# This is an exercise from Dataquest tutorial on SQL 
import sqlite3
conn = sqlite3.connect('jobs.db') # creates an instance that keeps the db file connected to python and unchanged. After connection, we use cursor object to interact with the database.
#Tuples are faster than lists. So, database subsets are stored as tuples in Python.

In [0]:
cursor = conn.cursor() # instantiate a cursor object

In [0]:
query = "select * from recent_grads;" # SQL statement
cursor.execute(query) # executes our query
result = cursor.fetchall() # receives our subset of data

In [7]:
print(result[0:2]) # returns tuple

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50)]

In [8]:
#Q Write a query that returns all of the values in the Major column from the recent_grads table.
query = "select Major from recent_grads;"
cursor.execute(query)
majors = cursor.fetchall()
print(majors[:3])

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',)]

In [10]:
# Instead of creating a cursor object, we can directly use conn to execute our queries
query = "select Major from recent_grads;"
conn.execute(query).fetchall()[:3]

[('PETROLEUM ENGINEERING',),
 ('MINING AND MINERAL ENGINEERING',),
 ('METALLURGICAL ENGINEERING',)]

In [17]:
# we can limit the results we get from the database using fetchone() or fetchmany(n)
query = "select Major from recent_grads;"
cursor.execute(query)
print(cursor.fetchone()) # returns the first record
print(cursor.fetchone()) # returns the second record. As we fetch more the position cursor moves to the next record 
print(cursor.fetchmany(2)) # returns the third and fourth records from the database

('PETROLEUM ENGINEERING',)
('MINING AND MINERAL ENGINEERING',)
[('METALLURGICAL ENGINEERING',), ('NAVAL ARCHITECTURE AND MARINE ENGINEERING',)]

In [18]:
#Q Write and run a query that returns the first five rows of Major and Major_category columns from recent_grads
query = "select Major, Major_category from recent_grads;"
cursor.execute(query)
five_results = cursor.fetchmany(5)
print(five_results)

[('PETROLEUM ENGINEERING', 'Engineering'), ('MINING AND MINERAL ENGINEERING', 'Engineering'), ('METALLURGICAL ENGINEERING', 'Engineering'), ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'), ('CHEMICAL ENGINEERING', 'Engineering')]

In [0]:
# After finishing our work with the database, we should close the connection so that others can access it
conn.close()